<!DOCTYPE html>
<html>
<% const PAGE = 'index'; %>
<%- include('includes/head') %>

<body class="sk-bg-gray">
    <%- include('includes/github-corner') %>
    <%- include('includes/navbar') %>
    <div class="container sk-mt-8">
        <div class="card sk-center" style="max-width: 500px">
            <div class="card-body">
                <h2 class="h4 text-center sk-mb-4">使用须知</h2>
                <div class="text-justify">
                    <p>您正在尝试使用 Clash Editor，一个 <span class="font-weight-bold">实验性质</span> 的 Clash 配置文件编辑向导。</p>
                    <p>若您继续使用 Clash Editor，则表明 <span class="font-weight-bold">您已知晓并同意 <a href="https://skk.moe/privacy-policy/" target="_blank">隐私政策</a> 中的所有条款、以及 Clash Editor 及其开发者不会对您的任何损失负责</span>，包括但不限于：Clash 无法启动和正常工作、Kernel Panic、设备无法开机或正常使用、硬盘损坏或数据丢失、原子弹爆炸、第三次世界大战、SCP 基金会无法阻止全球发生的 CK 级现实重构等。</p>
                    <p>如果您正在使用商业性质的公共代理服务，请务必先仔细阅读相关服务商的 服务条款与条件（ToS）。部分公共代理服务商（如 rixCloud）的服务条款与条件规定，如果用户使用任何第三方规则文件将会被视为自动放弃 SLA 和技术支持服务。</p>
                    <p>Clash Editor 是一个纯前端的实现，您可以对 Clash Editor 的 <a href="https://github.com/SukkaW/ClashEditor" target="_blank" rel="external noopenner noreferrer nofollow">代码</a> 进行审计。<span class="font-weight-bold">您在编辑时提交的所有数据均只会存储在您的浏览器中，Clash Editor 不会收集您提交的任何数据和最终生成的配置文件。</span></p>
                </div>
            </div>
            <div class="card-footer text-muted">
                <div style="text-align: right;">
                    <a href="/intro" class="btn sk-px-4 btn-primary">开始使用</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('includes/footer') %>
</body>

</html>
