<head>
    <meta charset="utf-8">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Clash Editor</title>
    <link rel="icon" type="image/png" href="https://cdn.jsdelivr.net/gh/Dreamacro/clash-dashboard/src/assets/logo.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/suka.css@0.2.1">
    <link rel="stylesheet" href="/css/style.css">
</head>
