<nav class="navbar navbar-expand-lg sk-bg-transparent sk-pt-5">
    <div class="container">
        <div class="sk-ml-3 d-lg-none"></div>
        <a href="/" style="color: black;">
            <h1 class="navbar-brand sk-mb-0 sk-text-normal">
                <img src="https://cdn.jsdelivr.net/gh/Dreamacro/clash-dashboard/src/assets/LOGO-fixing.svg" class="sk-pr-2">
                <span class="ce-nav-title">Clash Editor</span>
            </h1>
        </a>
        <div class="mr-auto"></div>
    </div>
</nav>
